body {
  font-family: Helvetica, sans-serif;
  padding-bottom: 10px;
}

h1 {
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.5em;
}

a, a:visited {
    color: blue;
}

a:active {
    color: red;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

.selected {
    background-color: #aaaaaa;
}

.section {
    padding-bottom: 7px;
}

.item {
    padding-top: 1px;
    padding-bottom: 1px;
}

#custom_tests_input {
    margin-bottom: 3px;
}