*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 0.75em;
    padding-bottom: 10px;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
}

h1 {
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.5em;
}

h1 > button {
    font-weight: normal;
    font-size: 0.65em;
}

a, a:visited {
    color: blue;
}

a:active {
    color: red;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

input {
    margin-right: 5px;
}

input[type="radio"], input[type="checkbox"] {
    vertical-align: bottom;
}

:disabled {
    color: gray;
}

.full {
    width: 100%;
    float: left;
}

.section {
    width: 100%;
    float: left;
    padding-bottom: 7px;
}

.push-right {
    float: right;
}

.col {
    float: left;
    width: 50%;
}

.left-col {
    padding-right: 5px;
}

.item {
    padding-top: 1px;
    padding-bottom: 1px;
}

.item:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Hack to have a right float share input css properties */
.vertical_align_input_hack {
    width: 0;
    visibility: hidden;
}

#custom_tests_input {
    margin-bottom: 3px;
}

#overview {
    min-height: 200px;
}

#overview > div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #a9a9a9;
}

#configuration_input {
    width: 40%;
}
