<!doctype html>
<html ng-app="app">

  <head>
    <title>Cloudify System Tests Launcher</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.0.2/js-yaml.js"></script>
    <script src="js/js-base64.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css" />
    <link rel="stylesheet" href="css/simplegrid.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body ng-controller="SystemTestsController">
    <div id="wrapper" class="grid grid-pad">


      <span class="section col-1-1">
        <span>Branch</span>
        <input ng-model="branch" ng-enter="reloadSuitesYaml()">
        <a href="" ng-click="reset()" class="push-right">Reset</a>
      </span>
      <textarea class="section col-1-1"
                ng-model="descriptor"></textarea>

      <div id="section"class="section col-1-1">
        <h1>Suites</h1>
        <div ng-repeat="s in suites.available track by s.name"
             class="item">
          <a href="" ng-click="calculate(s)">{{s.name}}</a>
        </div>
      </div>

      <div class="custom" class="section col-1-1">
        <div class="col-1-2">
          <h1>Configurations</h1>
          <div ng-repeat="c in configurations.available track by c.name"
               class="item {{c.class}}">
            <a href="" ng-click="calculate(c)">{{c.name}}</a>
          </div>
        </div>
        <div class="col-1-2">
          <div class="col-1-1">
            <h1>
              <span>Tests</span>
              <a href="" ng-click="applyCustom()" class="push-right">Apply Custom</a>
            </h1>
            <input id="custom_tests_input"
                   ng-model="current_custom_tests"
                   ng-enter="addCustomTests()" class="col-1-1">
            <div ng-repeat="t in tests.available track by t.name"
                 class="item {{t.class}}">
              <a href="" ng-click="calculate(t)">{{t.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
